body {
    background: rgb(125, 54, 93);
    color: rgb(255, 0, 153);
    padding: 10px;
    font-family: cursive;
    
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(105, 38, 72);
   margin: 0 auto;
   margin-bottom: 30px;
   border-radius: 20px;

    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
    
}

/* main container area beneath menu */
main {
    background: rgb(255, 254, 251);
    display: flex;
    border-radius:10px;
}
.sidebar {
    margin-right: 25px;
    padding: 20px;
}
.sidebar-img {
    width: 250px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(142, 51, 98) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
         /* portfolio styles */
         .content h1 {
            color: rgb(255, 0, 132);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration: none;
            color: #454545;
        }